@media (max-width: 768px) {
    .double-illu {
        flex-direction: column;
    }

    .section, .section-container {
        gap: 8px;
    }

    .container-explanations {
        gap: 32px;
    }

    .illu {
        gap: 2px;
    }
}

@media (min-width: 768px) {
    .double-illu {
        flex-direction: row;
    }

    .illu-of-double-illu {
        width: 50% !important;
    }

    .section, .section-container {
        gap: 16px;
    }

    .container-explanations {
        gap: 64px;
    }

    .illu {
        gap: 4px;
    }

    .multiple-illu {
        gap: 20px;
    }
}

@media (max-width: 1024px) {
    .multiple-illu-container {
        flex-direction: column;
    }
}