@media (max-width: 480px) {
    .sub-info-col {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .info-col {
        margin-top: 32px;
    }

    .info-col, .info-col-1, .info-col-2 {
        gap: 16px;
    }

    .info-col {
        flex-direction: column;
    }

    .sub-info-col {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .paragraph,
    .info-col {
        padding: 16px;
    }

    .info-col, .sub-info-col {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .info-col, .sub-info-col {
        margin-top: 0px;
        flex-direction: column;
        gap: 32px;
    }
}

