@media (max-width: 480px) {
    .persona-image {
        height: 120px;
    }
}

@media ((min-width: 480px) and (max-width: 768px)) {
    .persona-image {
        height: 150px;
    }
}

@media (max-width: 768px) {
    .col-left-container {
        gap: 16px;
    }

    .features-container {
        gap: 8px;
    }

    .data-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;
    }

    .col-right-container {
        margin-top: 16px;
    }
}

@media (min-width: 768px) {
    .col-left-container {
        gap: 32px;
    }

    .persona-image {
        height: 200px;
    }

    .features-container {
        gap: 16px;
    }

    .container-want {
        top: 0;
        left: 0;
        margin-left: 20px;
    }
    
    .container-need {
        top: 25%;
        left: 0;
    }
    
    .container-use {
        top: 0;
        right: 0%;
        margin-right: 20px;
    }
    
    .container-block {
        top: 25%;
        right: 0;
    }
    
    .container-want,
    .container-need,
    .container-use,
    .container-block {
        position: absolute;
        width: 210px;
    }
}