.card {
    padding: 32px;
    overflow: hidden;
}

.info-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 16px;
}

.project-title {
    margin-top: 32px;
}

.cta-project {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 4px;
    margin-top: 16px;
}

.thumbnail {
    display: flex;
}

.thumbnail.mobile,
.thumbnail.small {
    justify-content: center;
}

.thumbnail.mobile {
    align-items: start;
}

.thumbnail.small,
.thumbnail.large {
    align-items: center;
}

.thumbnail.large {
    justify-content: start;
}

.thumbnail img {
    filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.25));
}

@media (min-width: 320px) and (max-width: 480px) {
    .thumbnail {
        height: 195px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .thumbnail {
        height: 308px;
    }
}

@media (max-width: 768px) {
    .card {
        padding: 16px;
    }

    .project-title {
        margin-top: 16px;
    }

    .forward-icon {
        width: 18px;
        height: 18px;
    }

    .cta-project {
        margin-bottom: 16px;
        margin-top: 32px;
    }
}

@media (min-width: 768px) {
    .card {
        height: 342px;
    }

    .info-project {
        height: 278px;
    }
}

@media (max-width: 1024px) {
    .info-project {
        padding-right: 0px !important;
    }
}

@media (min-width: 1024px) {
    .card {
        height: 342px;
    }

    .info-project {
        height: 278px;
        padding-right: 20px !important;
    }
}

@media (min-width: 1280px) {
    .card {
        height: 404px;
    }

    .info-project {
        height: 340px;
    }
}