/* Background */
.bg-transparent {
    background-color: transparent !important;
}

.bg-light {
    background-color: var(--light) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-surface {
    background-color: var(--surface) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-yellow {
    background-color: var(--yellow) !important;
}

.bg-yellow-light {
    background-color: var(--yellow-light) !important;
}

.bg-orange {
    background-color: var(--orange) !important;
}

.bg-orange-light {
    background-color: var(--orange-light) !important;
}

.bg-green {
    background-color: var(--green) !important;
}

.bg-green-light {
    background-color: var(--green-light) !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}

.bg-manger-de-saison {
    background-color: var(--manger-de-saison) !important;
}

.bg-swap {
    background-color: var(--swap) !important;
}

.bg-borne-orange {
    background-color: var(--borne-orange) !important;
}