.hero-banner {
    background-color: var(--blue);
}

.hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.picture {
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 470px;
}

.arrow-self,
.arrow-poulpy,
.name-poulpy {
    position: absolute;
}

.cloud {
    position: absolute;
    height: auto;
    /* animation: float 4s ease-in-out infinite; */
}

.cloud-1 {
    fill: rgba(255, 255, 255, 200);
}

.cloud-2 {
    fill: rgba(255, 255, 255, 100);
}

.cloud-3 {
    fill: rgba(255, 255, 255, 120);
}

.cloud-4 {
    fill: rgba(255, 255, 255, 180);
}

/* @keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
} */

.more-link {
    cursor: pointer;
}

.projects-title {
    margin-bottom: 32px;
}

@media (min-width: 320px) {
    .arrow-poulpy {
        top: 52.5%;
        left: 65%;
        transform: scale(0.6);
    }

    .name-poulpy {
        top: 53%;
        left: 83%;
    }

    .cloud-1 {
        width: 170px;
        left: 0%;
        top: 68%;
    }

    .cloud-4 {
        width: 150px;
        left: 52%;
        top: 23%;
    }
}

@media (min-width: 480px) {
    .arrow-poulpy {
        top: 49%;
        left: 68%;
        transform: scale(0.8);
    }

    .name-poulpy {
        top: 49%;
        left: 82%;
    }

    .cloud-1 {
        width: 200px;
        left: 0%;
        top: 73%;
    }

    .cloud-4 {
        width: 180px;
        left: 60%;
        top: 10%;
    }
}

@media (min-width: 768px) {
    .arrow-poulpy {
        transform: scale(1);
        top: 51%;
        left: 63%;
    }

    .name-poulpy {
        top: 50%;
        left: 72%;
    }

    .cloud-1 {
        width: 280px;
        left: 0%;
        top: 73%;
    }

    .cloud-4 {
        width: 220px;
        left: 68%;
        top: 15%;
    }
}

@media (max-width: 768px) {
    .projects-title {
        margin-bottom: 16px;
    }
    
}

@media (max-width: 1024px) {
    .arrow-self {
        display: none;
    }

    .cloud-2, .cloud-3 {
        display: none;
    }

    .hero-banner {
        padding: 86px 0px 20px 0px;
    }

    .picture {
        margin: 32px 0px;
    }
}

@media (min-width: 1024px) {
    .arrow-self {
        display: block;
        top: 13%;
        left: 37%;
    }

    .cloud-2, .cloud-3 {
        display: block;
    }

    .arrow-poulpy {
        top: 40%;
        left: 85%;
    }

    .name-poulpy {
        top: 39%;
        left: 92%;
    }

    .hero-banner {
        padding: 126px 0px 20px 0px;
    }

    .cloud-1 {
        width: 380px;
        left: 0%;
        top: 60%;
    }

    .cloud-2 {
        width: 160px;
        left: 20%;
        top: -5%;
    }

    .cloud-3 {
        width: 133px;
        left: 50%;
        top: 58%;
    }

    .cloud-4 {
        width: 323px;
        left: 68%;
        top: -2%;
    }
}

@media (min-width: 1280px) {
    .arrow-self {
        top: 15%;
        left: 40%;
    }

    .arrow-poulpy {
        top: 39%;
        left: 83%;
    }

    .name-poulpy {
        top: 38%;
        left: 89%;
    }

    .cloud-1 {
        width: 400px;
        left: -2%;
        top: 55%;
    }

    .cloud-2 {
        width: 170px;
        left: 15%;
        top: -5%;
    }

    .cloud-3 {
        width: 140px;
        left: 45%;
        top: 58%;
    }

    .cloud-4 {
        width: 340px;
        left: 75%;
        top: 0%;
    }
}