.cloud-1 {
  fill: rgba(255, 255, 255, 200);
  animation-delay: 0s;
}

.cloud-2 {
  fill: rgba(255, 255, 255, 100);
  animation-delay: 2s;
}

.cloud-3 {
  fill: rgba(255, 255, 255, 120);
  animation-delay: 4s;
}

.cloud-4 {
  fill: rgba(255, 255, 255, 180);
  animation-delay: 1s;
}

.catchphrase {
  font-size: 1.625rem;
}

@keyframes float-left-right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
    /* move right */
  }

  100% {
    transform: translateX(0);
    /* go back to initial position */
  }
}

.cloud-1,
.cloud-2,
.cloud-3,
.cloud-4 {
  animation: float-left-right 6s ease-in-out infinite;
}

@media (max-width: 480px) {
   .arrow-poulpy {
    top: 60%;
    left: 63%;
    transform: scale(0.6);
  }

  .name-poulpy {
    top: 60%;
    left: 79%;
  }

  .cloud-1 {
    width: 170px;
    left: 0%;
    top: 68%;
  }

  .cloud-4 {
    width: 150px;
    left: 45%;
    top: 23%;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .arrow-poulpy {
    top: 59%;
    left: 68%;
    transform: scale(0.8);
  }

  .name-poulpy {
    top: 58.5%;
    left: 82%;
  }

  .cloud-1 {
    width: 200px;
    left: 0%;
    top: 73%;
  }

  .cloud-4 {
    width: 180px;
    left: 56%;
    top: 10%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .arrow-poulpy {
    transform: scale(1);
    top: 53%;
    left: 63%;
  }

  .name-poulpy {
    top: 52%;
    left: 72%;
  }

  .cloud-1 {
    width: 280px;
    left: 0%;
    top: 73%;
  }

  .cloud-4 {
    width: 220px;
    left: 68%;
    top: 15%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .projects-title {
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .projects-title {
    margin-bottom: 32px;
  }
}

@media (max-width: 1024px) {
  .arrow-self {
    display: none;
  }

  .cloud-2,
  .cloud-3 {
    display: none;
  }

  .hero-banner {
    padding: 86px 0px 20px 0px;
  }

  .picture {
    margin: 32px auto;
  }
} 

@media (min-width: 1024px) {
  .hero-banner {
    padding: 126px 0px 20px 0px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .arrow-self {
    display: block;
    top: 13%;
    left: 42%;
  }

  .cloud-2,
  .cloud-3 {
    display: block;
  }

  .arrow-poulpy {
    top: 36%;
    left: 87.5%;
  }

  .name-poulpy {
    top: 35%;
    left: 94.5%;
  }

  .cloud-1 {
    width: 380px;
    left: 0%;
    top: 60%;
  }

  .cloud-2 {
    width: 160px;
    left: 20%;
    top: -5%;
  }

  .cloud-3 {
    width: 133px;
    left: 50%;
    top: 58%;
  }

  .cloud-4 {
    width: 323px;
    left: 67%;
    top: -2%;
  }
}

@media (min-width: 1280px) {
  .arrow-self {
    top: 15%;
    left: 39%;
  }

  .arrow-poulpy {
    top: 41%;
    left: 83%;
  }

  .name-poulpy {
    top: 40%;
    left: 89%;
  }

  .cloud-1 {
    width: 400px;
    left: -2%;
    top: 55%;
  }

  .cloud-2 {
    width: 170px;
    left: 15%;
    top: -5%;
  }

  .cloud-3 {
    width: 140px;
    left: 45%;
    top: 58%;
  }

  .cloud-4 {
    width: 340px;
    left: 70%;
    top: 0%;
  }
}