.next {
    width: fit-content;
    position: relative;
    padding: 12px 8px;
}

.next::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--dark);
    bottom: 8px;
    left: 0;
    transition: width 0.5s ease;
}

.next:hover::before {
    width: 100%;
}

@media (max-width: 768px) {
    .double-illu {
        flex-direction: column;
    }

    .section, .section-container {
        gap: 8px;
    }

    .container-explanations {
        gap: 32px;
    }

    .illu {
        gap: 2px;
    }
}

@media (min-width: 768px) {
    .double-illu {
        flex-direction: row;
    }

    .illu-of-double-illu {
        width: 50% !important;
    }

    .section, .section-container {
        gap: 16px;
    }

    .container-explanations {
        gap: 64px;
    }

    .illu {
        gap: 4px;
    }

    .multiple-illu {
        gap: 20px;
    }
}

@media (max-width: 1024px) {
    .multiple-illu-container {
        flex-direction: column;
    }
}