footer {
    background-color: var(--surface);
    padding: 32px 0px;
}

.col-footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.labeled-icon {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

@media (max-width: 768px) {
    .col-footer {
        gap: 4px;
    }

    footer {
        padding: 16px 0px;
    }

    .first-col {
        margin-bottom: 16px;
    }
}