@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "./styles/flex.css";
@import "./styles/spacing.css";
@import "./styles/sizing.css";
@import "./styles/position.css";
@import "./styles/colors.css";
@import "./styles/borders.css";
@import "./styles/text.css";

body {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  color: var(--dark);
  background-color: var(--light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'MADE_Sunflower';
  src: local("MADE_Sunflower"),
    url("./fonts/MADE_Sunflower.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --light: #FCFCFC;
  --dark: #201708;
  --surface: #EBEBEB;
  --secondary: #78736A;
  --yellow: #E9C46A;
  --yellow-light: #F7E3B1;
  --orange: #F08845;
  --orange-light: #FDBF8F;
  --green: #20A392;
  --green-light: #92D1C9;
  --blue: #C6DEF1;
  --manger-de-saison: #E4F2E4;
  --swap: #FFC857;
  --borne-orange: #FFA655;
}

button {
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  line-height: 150%;
}

p {
  margin: 0;
  line-height: 150%;
}

a {
  text-decoration: none;
  color: var(--dark);
}

a, button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.icon-dark {
  fill: var(--dark)
}

.icon-M {
  height: 1rem;
  width: 1rem;
}

/* Text styles mobile */
@media (max-width: 768px) {
  h1 {
    font-size: 1.875rem;
    font-weight: bold;
    margin: 0;
    line-height: 130%;
  }

  .display-L {
    font-family: "MADE_Sunflower", serif;
    font-size: 3.125rem;
    line-height: 120%;
  }

  .display-M {
    font-family: "MADE_Sunflower", serif;
    font-size: 1.875rem;
    line-height: 120%;
  }

  .display-S, h2 {
    font-size: 1.25rem;
    margin: 0;
    font-weight: 400;
    line-height: 150%;
  }

  .lead {
    font-size: 1.125rem;
  }

  .small {
    font-size: 0.875rem;
  }

  .icon-L {
    height: 1.125rem;
    width: 1.125rem;
  }
}

/* Text styles desktop */
@media (min-width: 768px) {
  h1 {
    font-size: 3.125rem;
    font-weight: bold;
    margin: 0;
    line-height: 130%;
  }

  .display-L {
    font-family: "MADE_Sunflower", serif;
    font-size: 5.625rem;
    line-height: 120%;
  }

  .display-M {
    font-family: "MADE_Sunflower", serif;
    font-size: 3.125rem;
    line-height: 120%;
  }

  .display-S, h2 {
    font-size: 1.625rem;
    margin: 0;
    font-weight: 400;
    line-height: 150%;
  }

  .lead {
    font-size: 1.25rem;
  }

  .small {
    font-size: 0.875rem;
  }

  .icon-L {
    height: 1.25rem;
    width: 1.25rem;
  }
}

.bold {
  font-weight: 800;
}