@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html,
body,
#root {
  height: 100%;
}

body {
  min-width: 320px;
}

* {
  font-family: "Urbanist", sans-serif;
  line-height: 140%;
  font-size: 1rem;
  color: var(--dark);
}

body, #root {
  margin: 0;
  background-color: var(--light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  font-family: "Urbanist", sans-serif;
  line-height: 120%;
  background: none;
  border: none;
}

:root {
  --light: #FCFCFC;
  --dark: #201708;
  --surface: #EBEBEB;
  --secondary: #78736A;
  --yellow: #E9C46A;
  --yellow-light: #F7E3B1;
  --orange: #F08845;
  --orange-light: #FDBF8F;
  --green: #1DB79D;
  --green-light: #92D1C9;
  --blue: #C6DEF1;
  --manger-de-saison: #E4F2E4;
  --swap: #FFC857;
  --borne-orange: #FFA655;
}

/* Typography */

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 3.125rem;
  font-weight: bold;
}

.lead {
  font-size: 1.375rem;
}

.bold {
  font-weight: bold;
}

/* Texts colors */
.t-default {
  color: var(--dark);
}

.t-inverse {
  color: var(--light);
}

/* Backgrounds */
.bg-blue {
  background-color: var(--blue);
}

.bg-surface {
  background-color: var(--surface);
}