@import "tailwindcss";

/* Font */
@font-face {
  font-family: 'MADE_Sunflower';
  src: local("MADE_Sunflower"),
    url("/assets/MADE_Sunflower.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Breakpoints */
@theme {
  --breakpoint-sm: 360px;
  --breakpoint-md: 480px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-xxl: 1280px;
}

html,
body,
#root {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  height: fit-content;
}

p,
a,
span,
h1,
h2,
h3,
ul {
  font-family: "Urbanist", sans-serif;
  line-height: 140%;
  font-size: 1rem;
  color: var(--dark);
}

body,
#root {
  margin: 0;
  background-color: var(--light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  font-family: "Urbanist", sans-serif;
  line-height: 120%;
  background: none;
  border: none;
}

:root {
  --light: #FCFCFC;
  --dark: #201708;
  --surface: #EBEBEB;
  --secondary: #78736A;
  --yellow: #E9C46A;
  --yellow-light: #F7E3B1;
  --orange: #F08845;
  --orange-light: #FDBF8F;
  --green: #1DB79D;
  --green-light: #92D1C9;
  --blue: #C6DEF1;
  --manger-de-saison: #E4F2E4;
  --swap: #FFC857;
  --borne-orange: #FFA655;
}

/* Typography */

h1,
h2,
h3 {
  margin: 0;
  font-weight: bold;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.125rem;
}

h3 {
  font-size: 1.625rem;
}

.display-M {
  font-weight: bold;
}

.display-L {
  font-weight: normal;
}

@media (max-width: 768px) {
  .display-M {
    font-size: 1.875rem;
    line-height: 120%;
  }

  .display-L {
    font-family: "MADE_Sunflower", serif;
    font-size: 3.125rem;
    line-height: 120%;
  }
}

@media (min-width: 768px) {
  .display-M {
    font-size: 3.125rem;
    line-height: 120%;
  }

  .display-L {
    font-family: "MADE_Sunflower", serif;
    font-size: 5.625rem;
    line-height: 120%;
  }
}

.lead {
  font-size: 1.375rem;
}

.bold {
  font-weight: bold;
}

/* Texts colors */
.t-default {
  color: var(--dark);
}

.t-inverse {
  color: var(--light);
}

/* Backgrounds */
.bg-blue {
  background-color: var(--blue);
}

.bg-surface {
  background-color: var(--surface);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-light-yellow {
  background-color: var(--yellow-light);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-light-orange {
  background-color: var(--orange-light);
}

.bg-green {
  background-color: var(--green);
}

.bg-light-green {
  background-color: var(--green-light);
}


/* Strokes */
.stroke-dark {
  border: 1px solid var(--dark);
}